* {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;

}

.login-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
}

.user-info {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#section {
    height: 1800px;
    margin: auto;
}

#mainRight a {
    color: #198754;
}

#mainLeft {
    float: left;
    position: relative;
    left: 150px;
    width: 30%
}

#mainRight {
    float: left;
    position: relative;
    top: 30px;
    left: 340px;
    width: 30%;
}

#footer {
    background-color: black;
    color: white;
    height: 50px;
    position: relative;
}

ul {
    list-style-type: none;
}

li.index-btn{
    float: left;
    display: inline-block;
}

#header {
    height: 150px;
}

.login-name{
    float: right;
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-top: 5px;
}

.dropdown i {
    color: black;
    font-size: 25px;
    margin-top: 5px;
}

.dropdown-menu li {
    /*box-sizing: border-box;*/
    /*solid-color: black;*/
    /*border-bottom-color: white;*/
    border-color: black;

}

.dropdown button {
    background-color: white;
    box-sizing: border-box;
    border-bottom-color: darkgrey;
}

#memberSaveForm {
    margin: auto;
}

