<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.icia.band.dto.MemberDTO" alias="member" />
        <typeAlias type="com.icia.band.dto.GroupDTO" alias="group" />
        <typeAlias type="com.icia.band.dto.GroupFileDTO" alias="groupFile" />
        <typeAlias type="com.icia.band.dto.JoinMemberDTO" alias="join" />
    </typeAliases>
</configuration>